{
  "parserOptions": {
    "sourceType": "module"
  },
  "env": {
    "browser": true
  },
  "parser": "babel-eslint",
  //   "extends": ["airbnb", "prettier", "plugin:node/recommended"],
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    //   "linebreak-style": ["error", "windows"]
    // "prettier/prettier": "error",
    "no-unused-vars": "warn",
    "no-console": "off",
    "func-names": "off",
    "no-process-exit": "off",
    "object-shorthand": "off",
    "class-methods-use-this": "off",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
  }
}
